*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
}

body{
    font-family: 'Inter', sans-serif;
}

.nav-center {
    max-width: 1000px;
    margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }

  .nav-toggle {
    font-size: 1.5rem;
    color: red;
    background: transparent;
    border-color: transparent;
    border: 0;
    transition: var(--transition);
    cursor: pointer;
    display: none;
  }

  .logo {
    height: 40px;
  }

  .links{
    height: auto;
    display: flex;
    list-style: none;
    gap: 4rem;
    text-transform:capitalize;

  }

  a {
    text-decoration: none;
    color: hsl(240, 2%, 56%);
  }
  a:hover{
    color: hsl(35, 77%, 62%);
  }

  /* side bar close button */
  .close-btn {
  display: none;
  }

  .grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Three equal columns */
    gap: 15px; /* Gap between grid items */
    max-width: 1000px; /* Set a maximum width for responsiveness */
    margin: 0 auto;
    /* padding: 20px; */
}

.grid-item {
  /* background-color: #f2f2f2; */
  /* padding: 20px; */
  /* text-align: center; */
}

.grid_col_span_2{
  grid-column: span 2;   
}

.grid_row_span_2{
  grid-row: span 2;   
}

.web3_desktopImg{
  width: 100%;
}

.web3_mobileImg{
  width: 0;

}

.section2{
  /* width: 100%; */
  background-color: hsl(240, 100%, 5%);
  min-height: 0;
  padding: 10px;
}
.h1{
  color: hsl(35, 77%, 62%);
}
.h3{
  margin-top: 15px;
  margin-bottom: 10px;
}
.h3 a{
  color: rgb(255, 252, 252);
}

.h3 a:hover{
  color: hsl(35, 77%, 62%);
}
.p_article{
  width: 200px;
  color: hsl(60, 1%, 81%);
  font-size: 12px;
 margin-bottom: 20px;

}

hr{
  margin-top: 30px;
  margin-bottom: 20px;
  border-color: hsl(60, 1%, 81%);
}

.h1_gridItem3{
  font-weight: bolder;
  font-size: 50px;
  width: 300px;
}

.btn{
  width: 120px;
  height: 30px;
  background-color: hsl(5, 85%, 63%);
  text-align: center;
  border: 0;
  margin-top: 30px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  letter-spacing: 1.5px;

}

.btn a{
  color: rgb(250, 243, 243);
}

.btn:hover{
  background-color: hsl(240, 100%, 5%);
}

.p_gridItem4{
  font-size: 14px;
  color:hsl(240, 2%, 56%);
  line-height: 20px;
}

.row3_articleBox{
  display: flex;
  gap: 1rem;
  margin-bottom: 20px;
  margin-top: 20px;
}
.img_row3_articleBox{
  width: 100px;
  height: 100px;
}

.h2_row3_articleBox{
  color: hsl(0, 2%, 78%);
  margin-bottom: 10px;
}

.h5_row3_articleBox{
  font-weight: bold;
  margin-bottom: 10px;
}

.h5_row3_articleBox a{
  color: rgb(12, 12, 12);
}
.h5_row3_articleBox a:hover{
  color:  hsl(5, 85%, 63%);

}

.p_row3_articleBox{
  font-size: 12px;
  color: hsl(240, 2%, 56%);
  width: 160px;
}

  /* Mobile view */
  @media screen and (max-width: 600px){

    .nav-center {
      margin: 0 auto;
    }

    .nav-toggle {
        font-size: 2.5rem;
        color: rgb(43, 41, 41);
        background: transparent;
        border-color: transparent;
        border: 0;
        transition: var(--transition);
        cursor: pointer;
        display: flex;
      }

      .nav-header {
        display: flex;
        align-items: center;
        gap: 15rem;
        justify-content:space-between;
        padding: 1rem;
      }

      .links{
        height: auto;
        display: block;
        list-style: none;
        gap: 4rem;
        text-transform:capitalize;
      }

      /* Style the sidebar */
      .sidebar {
        height: 100%;
        width: 300px; /* Adjust as needed */
        position: fixed;
        top: 0;
        right: 0;
        background-color: white;
        padding-top: 40px;
        transition: all 0.3s linear;
    }
    
    /* Style the links within the sidebar */
    .sidebar a {
        padding: 10px 15px;
        text-decoration: none;
        font-size: 16px;
        color: rgb(28, 28, 28);
        display: block;
    }
    
    /* Change link color when hovered */
    .sidebar a:hover {
        color: hsl(35, 77%, 62%);;
    }

    .close-btn {
      font-size: 3.75rem;
      background: transparent;
      border-color: transparent;
      text-align: end;
      cursor: pointer;
      display: block;
      margin-left: 220px;
      margin-top: -20px;
    }

    .grid-container {
      display: block;
      grid-template-columns: repeat(3, 1fr); /* Three equal columns */
      gap: 15px; /* Gap between grid items */
      max-width: 1000px; /* Set a maximum width for responsiveness */
      margin: 0 auto;
      margin: 20px;
  }
  .web3_desktopImg{
    width: 0
  }
  .web3_mobileImg{
    width:100%;
  }
  
  }